In [ ]:
# Question 8

In [1]:
import sqlite3

In [ ]:
# creating test.db database to store the data

In [2]:
conn = sqlite3.connect('test.db')

In [ ]:
# creating a table test

In [4]:
conn.execute('''CREATE TABLE test(City text,Country text,Season text,Temperature integer,Rainfall integer);''')

In [ ]:
# Performing insert operation

In [5]:
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Winter',24.8,5.9);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Spring',28.4,16.2);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Summer',27.9,1549.4);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Fall',27.6,346.0);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Winter',4.2,207.7);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Spring',8.3,169.6);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Summer',15.7,157.0);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Fall',10.4,218.5);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Winter',13.6,16.5);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Spring',20.7,6.5);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Summer',27.7,0.1);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Fall',22.2,4.5);")

In [ ]:
# Fetching the table results.

In [6]:
conn.execute("select * from test").fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [ ]:
# a) All the temperature data

In [10]:
conn.execute("select Temperature from test").fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [ ]:
# b) All the cities, but without repetition

In [15]:
conn.execute("select distinct City from test").fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [ ]:
# c) All the records for India

In [16]:
conn.execute("select * from test where Country = 'India'").fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [ ]:
# d) All the Fall records

In [17]:
conn.execute("select * from test where Season = 'Fall'").fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [ ]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [20]:
conn.execute("select City,Country,Season from test group by City,Country,Season having AVG(Rainfall) between 200 and 400").fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [ ]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [22]:
conn.execute("select City,Country from test where Season ='Fall' group by City,Country having AVG(Temperature) > 20 order BY AVG(Temperature) ASC").fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [ ]:
# g) The total annual rainfall for Cairo

In [23]:
conn.execute("select sum(Rainfall) from test where City = 'Cairo'").fetchall()

[(27.6,)]

In [ ]:
# h) The total rainfall for each season

In [24]:
conn.execute("select Season, sum(Rainfall) from test group by Season").fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]